#root {
  max-width: 2000px;
  margin: 3rem auto;
}

.card-type-guard {
  color: var(--color-guard);
}

.card-type-queen {
  color: var(--color-queen);
}

.card-type-witch {
  color: var(--color-witch);
}

.card-type-jester {
  color: var(--color-jester);
}

.board {
  display: flex;
  gap: 1px;
  width: 100%;
}

.board-tile {
  flex: 1;
  border-color: #eee;
}

.crown-space {
  position: relative;
  height: 4rem;
  display: flex;
  align-items: center;
  color: #b0afaf;
  border: 3px solid currentColor;
  border-radius: 1rem;
}

.board-tile-red .crown-space {
  color: #f98275;
}

.board-tile-blue .crown-space {
  color: #92c6e3;
}

.board-tile-chateau .crown-space {
  color: #fbd700;
}

.piece-space {
  position: relative;
  height: 8rem;
  padding: 1rem 0;
  display: flex;
  align-items: flex-end;
}

.piece {
  font-size: 3rem;
  text-align: center;
}

.flip {
  -webkit-transform: scaleX(-1);
  filter: scaleX(-1);
}

.piece-img {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  max-width: 100%;
}

.piece-img-guard {
  z-index: 1;
}

.piece-img-jester {
  z-index: 2;
}

.piece-img-witch {
  z-index: 3;
}

.piece-img-queen {
  z-index: 4;
}

.card-groups {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.card-group {
  position: relative;
}

.card-group:hover {
  z-index: 1;
}

.card-group:hover .card {
  background: currentColor;
  border-color: #fff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-wrapper-limited {
  max-height: 3rem;
}

.card-wrapper:nth-child(even) .card {
  transform-origin: bottom right;
}

.card-group:hover .card-wrapper .card {
  transform: translateY(-1rem) rotate(1deg);
}

.card-group:hover .card-wrapper:nth-child(even) .card {
  transform: translateY(-1rem) rotate(-1deg);
}

/* .card-group:hover .card-wrapper:last-child .card {
  transform: translateY(-1rem);
} */

.card-group:hover .card img {
	animation: bounce 0.6s infinite ease-in-out;
}

.card-group:hover .card-text {
  color: #fff;
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid currentColor;
  aspect-ratio: 0.7;
  border-radius: 1rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background: #fff;
  transform-origin: bottom left;
  transition: all 0.3s;
  cursor: pointer;
}

.card img {
  display: block;
  width: 60%;
}

.card-text {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.3s;
}

@keyframes bounce {
	0%, 100% { transform: translateY(0); }
	50% { transform: translateY(-6px); }
}
