#root {
  max-width: 2000px;
  margin: 3rem auto;
}

.card-type-guard {
  color: var(--color-guard);
}

.card-type-queen {
  color: var(--color-queen);
}

.card-type-witch {
  color: var(--color-witch);
}

.card-type-jester {
  color: var(--color-jester);
}

.board {
  display: flex;
  gap: 1px;
  width: 100%;
}

.board-tile {
  flex: 1;
  border-color: #eee;
}

.crown-space {
  position: relative;
  height: 4rem;
  display: flex;
  align-items: center;
  border-color: #b0afaf;
  /* background: #f0f0f0; */
  border-style: solid;
  border-width: 3px;
  border-radius: 1rem;
}

.board-tile-red .crown-space {
  border-color: #f98275;
  /* background: #fff3ff; */
}

.board-tile-blue .crown-space {
  border-color: #92c6e3;
  /* background: #e6edfd; */
}

.board-tile-chateau .crown-space {
  border-color: #fbd700;
  /* background: #fdfae2; */
}

.piece-space {
  position: relative;
  height: 8rem;
  padding: 1rem 0;
  display: flex;
  align-items: flex-end;
}

.piece {
  font-size: 3rem;
  text-align: center;
}

.flip {
  -webkit-transform: scaleX(-1);
  filter: scaleX(-1);
}

.piece-img {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  max-width: 100%;
}

.piece-img-guard {
  z-index: 1;
}

.piece-img-jester {
  z-index: 2;
}

.piece-img-witch {
  z-index: 3;
}

.piece-img-queen {
  z-index: 4;
}
